@import '../base/extends';

#Contacto { 
    font-size: 30px; 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

    @media screen and (max-width: 490px) {
        font-size: 15px;
    } 
}

    .iframe {
        padding: 40px;
        display: flex;
        justify-content: right;
        
        @media screen and (max-width: 490px) {                
        iframe { 
        margin-top: 10px;
        margin-bottom: 50px;
        height: 200px;
        width: 200px;
        }             
        }
    }
    
    

