@import '../base/extends';

.redes {
    background-color: #7A0BC0;
    padding: 50px;
    display: flex;
    justify-content: space-around;

    .transicion {
        transition: all 1s;

        &:hover {
            transform: scale(2);
        }

        img {
            height: 50px;
            width: 50px;
        }
    
    }
}

.disclaimer {
    display: none;
}
