h2 { 
    margin-bottom: 50px;
    margin-top: 20%;
    text-align: left;
    font-size: 50px;
    text-decoration-line: underline; 
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 490px) {
    h2 {
        margin-bottom: 25px;
        margin-top: 10%;
        font-size: 25px;
    }
}