h2 { 
    margin-bottom: 50px;
    margin-top: 20%;
    text-align: left;
    font-size: 50px;
    text-decoration-line: underline; 
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}