@import '../base/variables';
@import '../base/maps';

header {

    .navbar {
        background-color: yellow;
        font-size: 40px;
             
        .logo {
            width: map-get($header, width);

        }

        .menu {
            .item {
            color: $fondo;
            }
        }

        @media screen and (max-width: 490px) {
            font-size: 20px;
        }
    }

}

body {
    background-color: rgb(25, 0, 255);
    }
