@import '../base/variables';
@import '../base/maps';

header {

    .navbar {
        
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
            
        }             
        .logo {
            width: map-get($header, width);
        }

        .menu {
            .item {
            color: $fondo;
            }
        }

        @media screen and (max-width: 490px) {
            font-size: 15px;
        }
    }

}

body {
    background-color: #1A1A40;
    }

    .boton-whatsapp {
        display: block;
        width: 60px;
        height: 60px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-radius: 50%;
        line-height: 70px;
        text-align: center;
        z-index: 999;
    }