@import '../base/extends';

.nosotros-h1 {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    text-decoration-line: underline;
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    } 

.nosotros { 
    text-align: center;
    margin-top: 5%;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    @media screen and (max-width: 490px) {
        .nosotros-h1 {
            margin-top: 50%;
            font-size: 25px;   
            }

        .nosotros {
            font-size: 15px;
            margin-top: 2%;
        }

    }

    h2 { 
        margin-bottom: 50px;
        margin-top: 20%;
        text-align: left;
        font-size: 50px;
        text-decoration-line: underline; 
        color: yellow;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    @media screen and (max-width: 490px) {
        h2 {
            margin-bottom: 25px;
            margin-top: 10%;
            font-size: 25px;
        }
    }
  