.nosotros-h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    text-decoration-line: underline;
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    } 

.nosotros { text-align: center;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

  