.unidades1 {
    font-size: 30px;
    color: white;
    text-align: center;   
    padding: 20px;
} 

.unidades2 {
    font-size: 30px;
    color: white;
    text-align: center;
     padding: 20px;
} 

.unidades3 {
    padding: 30px;
    
}
