.unidades1 {
    font-size: 20px;
    color: white;
    text-align: left;
    border: 10px outset #7A0BC0;

    @media screen and (max-width: 490px) {
            font-size: 15px;
    } 
}

.unidades2 {
    font-size: 20px;
    color: white;
    text-align: left;
    border: 10px outset #7A0BC0;

    @media screen and (max-width: 490px) {
        font-size: 15px;
        
    } 
}

    .unidades3 {
        padding: 200px;

        @media screen and (max-width: 490px) {
                padding: 25px;
            
        }
    }